<div data-role="header">
  <h1>CAD | <%= @mobile.event_title %></h1>
   <%= link_to 'Home', mobiles_path, "class" => "ui-btn-left" %>
</div>


<div data-role="content"
	<% if !@mobile.eventflyer_file_name.nil? %>
		<%= image_tag @mobile.eventflyer.url(:thumb), :alt => @mobile.event_title %>
	<% else %>
		<%= image_tag('ad220.png') %>
	<% end %>	
	<h4><%= @mobile.event_date.strftime("%b %d at %I:%M %p") %><br /><%= @mobile.event_location %></h4>
	<p><%= @mobile.event_description %></p>
	<p><%= @mobile.event_sponsers %></p>
</div>