<div data-role="header">
  <h1>Signature Events</h1>
</div>

<div data-role="content">
	<ul data-role="listview" >
		<% @event_by_day.each do |m, events| %>
				<li data-role="list-divider" data-theme="a"><%= m.strftime("%b %d") %></li>		
			<% for event in events %>
				<li>
					<%= link_to(mobile_path(event)) do %>
						<% if !event.eventflyer_file_name.nil? %>
							<%= image_tag event.eventflyer.url(:mobile), :alt => event.event_title %>
						<% else %>
							<%= image_tag('cw80.png') %>
						<% end %>	
						<h3 class="ui-li-heading"><%= event.event_title %></h3>
						<p class="ui-li-desc"><%= event.event_date.strftime("%I:%M %p") %> - <%= event.event_location %></p>
					<% end %>
				</li>		
			<% end %>
		<% end %>
	</ul>
</div>