<div class="grid_12">
	<h1>Admin</h1>
	<% if !notice.blank? %><p class="notice"><%= notice %></p><% end %>
	<p class="readmore"><%= link_to "New Event", new_event_path %></p>
	<table width="940">
		<thead>
			<tr>
				<th></th>
				<th>Event</th>
				<th>Location</th>
				<th>Start Date/Time</th>
				<th>Options</th>
			</tr>
		</thead>
		<% @event.each do |e| %>
		<tbody>
			<tr>
				<td align="center" valign="middle"><% if !e.eventflyer_file_name.nil? %> <%= image_tag e.eventflyer.url(:mobile), :alt => e.event_title %><% else %><%= image_tag('cw80.png') %><% end %></td>
				<td><b><%= e.event_title %></b></td>
				<td><%= e.event_location %>
				<td><%= e.event_date.strftime("%b %d at %I:%M %p") %></td>
				<td>
					<%= link_to 'Edit/Show', edit_event_path(e) %><br />
					<%= link_to 'Delete', e, :confirm => 'Are you sure you want to delete this? If so, all event information will be lost.', :method => :delete %></td>				
				</td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>