<!-- Logo -->
<div class="grid_4 logo">
	<%=image_tag('logo.png') %>
</div>
<!--  END Logo -->

<div class="grid_12 showcontent">
	<h2><%= @event.event_title %> - <span><%= @event.event_date.strftime("%b %d at %I:%M %p") %></span> - <%= @event.event_location %></h2>
	<div class="grid_8 alpha">
		<p><%= @event.event_description %></p>
		<p><b>Event Sponsor(s)</b> <%= @event.event_sponsers %></p>
		<p class="readmore2"><%= link_to 'Back', events_path %></p>
	</div>
	<div class="grid_4 omega">
			<% if !@event.eventflyer_file_name.nil? %>
				<%= image_tag @event.eventflyer.url(:original), :width => "300" %>
			<% else %>
				<%= image_tag('ad300.png') %>
			<% end %>				
	</div>
</div>
			
			
			
