<!DOCTYPE html>
<html>
<head>
	<title>Carolina After Dark</title>
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :all %>
	<%= csrf_meta_tag %>
</head>
	<body>
		<canvas id="pixie"></canvas>
		<div class="container_12">
			<%= yield %>
			<div class="grid_12 footer">

				<div class="grid_4 links alpha">
					<h3>For more information contact</h3>
					<p><b>Sarah Morgan</b><br />
					<a href="mailto:morganst@mailbox.sc.edu">morganst@mailbox.sc.edu</a><br />
					Russell House University Union, Suite 227<br />
					Phone (803) 777-7130</p>		
				</div>	
				<div class="grid_5">
						<h3 class="twitter">Twitter</h3>
						<div class="tweet"></div>
				</div>
				<div class="grid_2 tag omega">
					<%= link_to image_tag('footer_logo.png'), 'http://www.sa.sc.edu/stlife' %>
				</div>
			</div>
		</div>
	</body>
</html>
